.pseudocode {
    margin: 10px 20px;
}

.pseudocode>h4 {
    margin-left: 10px;
    text-align: left;
}

.pseudocode>pre {
    margin-left: 10px;
}

.pseudocode>p {
    margin-left: 10px;
}

@media (max-width: 1100px) {
    .pseudocode {
        font-size: 15px;
    }
}

@media (max-width: 950px) {
    .pseudocode {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .pseudocode {
        font-size: 12px;
    }
}

@media (max-width: 635px) {
    .pseudocode {
        font-size: 11px;
    }
}

@media (max-width: 635px) {
    .pseudocode {
        font-size: 11px;
    }
}

@media (max-width: 575px) {
    .pseudocode {
        font-size: 9px;
    }
}

@media (max-width: 480px) {
    .pseudocode {
        font-size: 8px;
    }
}

@media (max-width: 400px) {
    .pseudocode {
        font-size: 6px;
    }
}